.titulo {
  
    text-align: center;
    color:azure;
    font-size: 50px;
    font-family: 'Barlow', sans-serif;
    
}    

.contenedor {
    position: relative;
    width: 300px;
    height: 200px;
    margin: 50px auto;
    background-color: black;
    padding: 20px;
  }
  .texto{
    position:absolute;
    left: 50%;
    top:50%;
    transform: translate(-50%, -50%);
    background-image: url(./img/error.gif);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding:10px;
    color:red;
   
  }
 
  